*{
	color: white;
}

$background: #121212;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

.bar{
	margin-top: 20px;
  background-color: $background;
	border-radius: 10px;
}
.left{
	padding-top: 0.4rem;
	margin-left: 0.3rem;
	.workspace-entry{
		margin-left: 0.5rem;
	}
}
.right {
	padding: 0 10px 0 0;
}
.workspace {
	font-size: 0.8rem;
	color: #BEC7DB;
}
.time-btn{
	padding-bottom: 5px;
	.time-label{
		font-size: 0.95rem;
		color: #BEC7DB;
	}
	&:hover {
//	background-color: red;
	}
}
.membar {
  color: #e0b089;
  background-color: #38384d;
  border-radius: 10px;
}
.test{

	color: red;
}

// Calendar
.background.calendar {
  background-color: $background;
	border-radius: 15px;
}
.calendar-day-base{
	background-color: green;
}
.cal-box {
	border-radius: 15px;
  .cal-inner-box {
			border-radius: 20px;
      padding: 0.5rem;
      .cal {
				color: #BEC7DB;
        padding: 0.3rem 0.2rem;
        &.highlight {
					color: #EBCB8B;
        }
        &.view {
				color: red;
				border: none;
  			background-color:  $background;
				margin-top: 10px;
        }
        &:selected {
					color:  $background;
					background-color: #9ebbcc;
					border-radius: 5px;
        }
				&:indeterminate {
					color: #757575;
				}
				&.button {
					color: $magenta;
				}
      }
  }
}
.circular {
	background-color: $background;
	//background-color: black;
	color: #BEC7DB;
	.circular-button{
		all: unset;
	}
	.circular-text{
		padding: 0.4rem;
		font-size: 12px;	
		color: #BEC7DB;
		background-color: $background;
	}
}

.circular-button .cpu-icon{
	font-size: 11px;
}
.circular-button .mem-icon{
	font-size: 10px;
}

.wifi-icon{
	all: unset;
	color: #BEC7DB;
	background-color: $background;
	font-size: 13px;
}

.button-bar {
	all: unset
}
.button-power{
	all: unset;
	background-color: $background;
	color: black;
}

.powermenu{
	padding: 20px;
	background-color: $background;
	border-radius: 15px;
}
.window-power{
	margin-right: 20px;
}
.brightness-icon{
	color: white;
}

scale {
	min-width: 8rem;
			color: red;
	padding: 0 10px;
	trough {
 		background-color: #BEC7DB;
 		border-radius: 5px;
 		min-height: 8px;
 		min-width: 10px;
		 highlight {
  		background-color: #BEC7DB;
  		border-radius: 5px;
		}
	}
}

