* {
	color: white;
	font-size: 20px;
}

$background: rgba(18, 18, 18, 0.7);
//$background: #121212;
$foreground: #A9B1D6;

$textcolor: #BEC7DB;
$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

.bar {
	margin-top: 20px;
	//background-color: $background;
	background-color: $background;
	//border-radius: 8px;
	//opacity: 0.5;
}

.left {
	padding-top: 0.4rem;
	margin-left: 0.3rem;

	.workspace-entry {
		margin-left: 0.5rem;
	}
}

.right {
	padding: 0 10px 0 0;
}

.workspace {
	font-size: 18px;
	padding: 4px;
	color: $textcolor;
}

.time-btn {
	padding-bottom: 5px;

	.time-label {
		font-size: 19px;
		color: $textcolor;
	}

	&:hover {
		//	background-color: red;
	}
}

.membar {
	color: #e0b089;
	background-color: #38384d;
	border-radius: 10px;
}

.test {

	color: red;
}

// Calendar
.background.calendar {
	background-color: #121212;
	border-radius: 15px;
}

.calendar-day-base {
	background-color: green;
}

.cal-box {
	border-radius: 15px;

	.cal-inner-box {
		border-radius: 20px;
		padding: 0.5rem;

		.cal {
			color: $textcolor;
			padding: 0.3rem 0.2rem;

			&.highlight {
				color: $textcolor;
			}

			&.view {
				border: none;
				background-color: #121212;
				margin-top: 10px;
			}

			&:selected {
				color: $background;
				background-color: #9ebbcc;
				border-radius: 5px;
			}

			&:indeterminate {
				color: #757575;
			}

			&.button {
				color: $magenta;
			}
		}
	}
}

.circular {
	background-color: transparent;
	color: $textcolor;

	.circular-button {
		all: unset;
	}

	.circular-text {
		padding: 6px 13px 6px 6px;
		color: $textcolor;
		background-color: transparent;
	}

	.text-battery {
		padding: 10px;
	}

	.text-temp {
		padding: 10px;
		font-size: 20px;
	}
}

.circular-button .mem-icon {
	padding: 10px;
	font-size: 17px;
}

.wifi-icon {
	all: unset;
	color: $textcolor;
	background-color: $background;
}

.button-bar {
	all: unset;
	margin-right: 20px;
}

.powermenu {
	padding: 20px;
	background-color: $background;
	border-radius: 15px;

	.button-power {
		all: unset;
		padding: 3px;
	}
}

scale {
	min-width: 8rem;
	padding: 0 10px;

	trough {
		background-color: $textcolor;
		border-radius: 5px;
		min-height: 8px;
		min-width: 10px;

		highlight {
			background-color: $textcolor;
			border-radius: 5px;
		}
	}
}
