bluetuith
configstore
dconf
Deskreen
google-chrome
gtk*
htop
pulse
QtProject
ranger
systemd
Thunar
xfce4
yay
mimeapps.list
pavucontrol.ini
ardour8
QtProject.conf
droidcam
qBittorrent
fontconfig
zoom*
Code*/
alacritty
tree-sitter
yarn
nvim/lazy-lock.json
libreoffice
nvim/lazy-lock.json
Docker Desktop
Postman
go
kde.org
nextjs-nodejs
obs-studio
pomotroid
superfile/theme
vlc
yandex-browser
elisarc
user-dirs.dirs
user-dirs.locale
obsidian
