bluetuith
configstore
dconf
Deskreen
google-chrome
gtk-3.0
htop
pulse
QtProject
ranger
systemd
Thunar
xfce4
yay
mimeapps.list
pavucontrol.ini
ardour8
QtProject.conf
droidcam
qBittorrent
fontconfig
zoom*
