window.bar {
  background-color: rgba(244, 244, 244, 0.1); }

button {
  all: unset; }

.workspaces {
  padding: 2px 4px; }
  .workspaces .workspace_button {
    padding: 2px 10px;
    font-size: 20px;
    color: white;
    border-radius: 5px; }

.focused {
  background-color: rgba(244, 244, 244, 0.4); }

.client-title {
  all: unset;
  color: white;
  font-size: 20px;
  padding-bottom: 5px; }

.battery-icon {
  all: unset;
  font-size: 20px; }

.my_test {
  color: red; }

.bar_item {
  margin-right: 10px;
  font-size: 18px;
  color: #E0E0E0; }

.bar_btn {
  margin-right: 15px; }
