* {
 font-family: "Liberation Serif";  	
 font-size: 13px; 
 border: none;
 border-radius: 0;
}
.background {
	background-color: transparent;
}	
.workspaces .item {
	padding: 0 3px;
	border-radius: 3px;
	background-color: transparent;
}
.workspaces .item.focused {
  background-color: rgba(38,42,50,0.7);
}

.workspaces {
	background-color: transparent;
}
.workspaces button {
 background-color: black;
}
/*box, menubar,*/
button {
 background-color: transparent;
 background-image: none;
}
 
button, label {
	color: white;
}
 
button:hover {
 background-color: green;
}
