/*@define-color color_bg #2d2d2d;*/
@define-color color_bg transparent;
@define-color color_bg_dark rgba(38,42,50,0.7);
@define-color color_border #424242;
@define-color color_border_active #6699cc;
@define-color color_text white;
@define-color color_urgent #8f0a0a;
 
/* -- base styles -- */
 
* {
 font-family: "Liberation Serif";  	
 font-size: 13px; 
 border: none;
 border-radius: 0;
}
 
.background {
	background-color: transparent;
}	

box, menubar, button {
 background-color: @color_bg;
 background-image: none;

}
 
button, label {
 color: @color_text;
 
 box-shadow: none;
}
 
button:hover {
 background-color: @color_bg_dark;
}
 
 

/* -- workspaces -- */
 
.workspaces .item {
	padding: 0 5px;
	border-radius: 5px;
	box-shadow: none;
}
.workspaces .item.focused {
 background-color: @color_bg_dark;
}
 
.workspaces .item:hover {
/* box-shadow: inset 0 -3px;*/
}


/* -- clock -- */
 
.clock {
 font-weight: normal;
 margin-left: 5px;
 box-shadow: none;
}
 
.clock:hover {
	border-radius: 5px;
}
.popup-clock .calendar-clock {
 color: @color_text;
 font-size: 2.5em;
 padding-bottom: 0.1em;
}
 
.popup-clock .calendar {
 background-color: @color_bg;
 color: @color_text;
}
 
.popup-clock .calendar .header {
 padding-top: 1em;
 border-top: 1px solid @color_border;
 font-size: 1.5em;
}
 
.popup-clock .calendar:selected {
 background-color: @color_border_active;
}

.popup {
 border: 1px solid @color_border;
 border-radius: 8px;
 padding: 1em;
 background-color: rgba(38,42,50,1)
}
 
/* -- sys_info -- */
 
.sysinfo {
}
 
.sysinfo .item {
 margin-left: 5px;
}
 
 
/* -- clipboard -- */
 
.clipboard {
 margin-left: 5px;
 padding: 0 5px;
 color: @color_text;
 box-shadow: none;
 border-radius: 5px;

}
 
.popup-clipboard .item {
 padding-bottom: 0.3em;
 border-bottom: 1px solid @color_border;
}
 
.popup-clipboard .item .btn-remove {
 box-shadow: none;
 border: 1px solid red;
 border-radius: 5px;
}
 
 
 
/* -- launcher -- */
 
.launcher .item {
 margin-right: 4px;
}
 
.launcher .item:not(.focused):hover {
 background-color: @color_bg_dark;
}
 
.launcher .open {
 border-bottom: 1px solid @color_text;
}
 
.launcher .focused {
 border-bottom: 2px solid @color_border_active;
}
 
.launcher .urgent {
 border-bottom-color: @color_urgent;
}
 
.popup-launcher {
 padding: 0;
}
 
.popup-launcher .popup-item:not(:first-child) {
 border-top: 1px solid @color_border;
}
 
 
/* -- music -- */
 
.music:hover * {
 background-color: @color_bg_dark;
}
 
.popup-music .album-art {
 margin-right: 1em;
}
 
.popup-music .title .icon *, .popup-music .title .label {
 font-size: 1.7em;
}
 
.popup-music .controls *:disabled {
 color: @color_border;
}
 
.popup-music .volume scale slider {
 border-radius: 100%;
}
 
/* volume icon */
.popup-music .volume > box:last-child label {
 margin-left: 6px;
}
 
 
/* -- script -- */
 
.script {
 padding-left: 10px;
}
 
 
 
/* -- tray -- */
 
.tray {
 margin-left: 10px;
}
 
 
/* -- custom: power menu -- */
.power-menu :hover {

 border-radius: 5px;
}
.popup-power-menu #header {

 font-size: 1.4em;
 padding-bottom: 0.4em;
 margin-bottom: 0.6em;
 border-bottom: 1px solid @color_border;
}
 
.popup-power-menu .power-btn {
 border: 1px solid @color_border;
 min-width: 40px;
 min-height: 40px;
 padding: 0.6em 1em;
 margin-right: 5px;
 border-radius: 5px;
}
 
.popup-power-menu #uptime {
	margin-top: 10px; 	
}
.popup-power-menu #buttons > *:nth-child(1) .power-btn {
} 
.battery {
	padding: 0;
}
